body {

}

h1 {
  font-size: 64px;
}

/*
 * Custom ID and classes
 */

#header {
  position: fixed;
  width: 100%;
}

#content {
  position: relative;
  top: 80px;
}

#alert {
  display: none;
  margin-bottom: 0;
  margin-top: 20px;
  text-align: center;
}

#hourmarker {
  text-align: center;
}

#message {
  margin: 0;
  padding: 10px 4px 40px 4px;
}

#mode {
  color: #FFF;
  font-size: 2em;
}

#laststatus {
  color: rgb(153, 153, 153);
  padding-bottom: 10px;
}

#laststatus strong {
  color: #eee;
}

@media only screen and (max-device-width:480px) {
  /* hide the logo on the small screen */
  #logo {
    display: none;
  }

  .navbar-header {
    margin-left: 0px;
  }
}

#logo {
  position: absolute;
  float: left;
  color: #fff;
  padding-top: 12px;
}

#logo:hover {
  text-decoration: none;
}

#logo:hover span {
  color: #fff;
}

#sixteen {
  font-size: 42px;
  color: #fff;
}

#eight {
  color: rgb(153, 153, 153)
}

/* The history days */
#day1, #day2, #day3, #day5, #day6, #day7 {
  width: 14.3%;
}
#day4 { /* make it add up to 100% nicely */
  width: 14.2%;
}

.green {
  /*color: #dff0d8; light*/
  color: #449d44;
}

.yellow {
  /*color: #fcf8e3; light*/
  color: #ec971f;
}

.red {
  /*color: #f2dede; light*/
  color: #c9302c;
}

.settings {
  margin-top: 3em;
}

/*
 * Enhance Twitter Bootstrap Classes
 */

.navbar-brand {
  width: 100%;
  color: white;
}

.navbar-header {
  margin-left: 60px;
}

.navbar {
  box-shadow: 0 3px 2px 0px rgba(0,0,0, 0.2)
}

.progress {
  position: relative;
  top: 1px;
  height: 3px;
  margin: 0;
  padding: 0;
  width: 100%;
}

.progress-bar {
  height: 3px;
}
